/* Base styles */
.text-box {
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    border-radius: 12px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    border: 3px solid #4A90E2;
    box-shadow: 5px 5px 0px #FFC107;
    font-size: clamp(13px, 2vw, 15px);
    text-align: center;
    z-index: 200;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.text-box:hover {
    transform: translateY(-2px);
    box-shadow: 7px 7px 0px #FFC107;
}

#instruction-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(74, 144, 226, 0.9);
    color: white;
    border-color: #2574A9;
    box-shadow: 5px 5px 0px #2574A9;
}